<div id="ingressos" class="{{ if (modBool ($.Scratch.Get "secao") 2) }}blue{{end}}">
  {{ if not (eq .Site.Params.status_ingressos "disponiveis") }}
  <div class="aviso">
      <h1>{{ .Site.Params.aviso_status_ingressos | default "Em breve!" }}</h1>
  </div>
  {{ end }}
  <div class="container conteudo   {{ if not (eq .Site.Params.status_ingressos "disponiveis") }}em-breve{{ end }}">
    <h2>Ingressos</h2>
    <hr />
    <div class="row row-centered">
      {{ range .Site.Data.ingressos }}
      <div class="col-lg-3 col-centered">
        <div class="descricao-preco">
          <h2>{{ .nome }}</h2>
          <p>{{ .descricao | markdownify }}</p>
        </div>
        <div>
          <p class="preco">{{ .preco }}</p>
          <a href="{{ .link }}" class="btn btn-default {{ if (modBool ($.Scratch.Get "secao") 2) }}blue{{end}}" role="button" target="_blank">Comprar</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
