<div id="patrocinio" class="{{ if (modBool ($.Scratch.Get "secao") 2) }}blue{{end}}">
  <div class="container conteudo">
      <h2>Patrocinio</h2>
      <hr />
      <div class="text-center">
        {{ range $element := .Site.Data.patrocinio.categorias }}
        <div class="{{.nome}}">
          <h3>{{.nome | humanize }}</h3>
            {{ range $.Site.Data.patrocinio.patrocinadores}}
            {{ if eq .categoria $element.nome }}
            <a href="{{ .link }}" target="_blank" style="text-decoration: none;">
              <img style="background-color: white;" src="img/patrocinio/{{ .imagem }}" alt="{{ .descricao }}">
            </a>
            {{ end }}
            {{ end }}
          </div>
        {{ end }}
        <hr />
        <div id="seja-patrocinador">
          <h3>Seja um patrocinador!</h3>
          <table class="table">
            <tr>
              <th>Benefícios propostos</th>
              <th colspan="4">Grupos de parceria</th>
            </tr>
            <tr>
              <th></th>
              {{ range sort .Site.Data.patrocinio.categorias "cota" }}
              {{ if ne .cota "" }}
              <th>{{ .nome | humanize }}</th>
              {{ end }}
              {{ end }}
            </tr>
            {{ range $index, $element := .Site.Data.patrocinio.beneficios }}
            <tr>
              <td>{{ .descricao | humanize }}</td>
              {{ range sort $.Site.Data.patrocinio.categorias "cota" }}
              {{ if ne .cota "" }}
              <td>{{ index . $element.nome }}</td>
              {{ end }}
              {{ end }}
            </tr>
            {{ end }}
            <tr class="cota">
              <td>Cota de participação</td>
              {{ range sort $.Site.Data.patrocinio.categorias "cota" }}
              {{ if ne .cota "" }}
              <td>R$ {{ .cota }}</td>
              {{ end }}
              {{ end }}
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>
